.title {
    font-size: 50px;
}

body {
    background-color: lightgreen;
    padding: 1rem;
    z-index: -1;
}


h1,
p,
footer,
caption,
table,
td {
    text-align: center;
    color: white;
}

.container_nav {
    margin-left: 25%;
    margin-right: auto;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: black;
}

.sisu {
    width: 12rem;
    color: white;
    display: inline-block;
    padding: 5px;
    font-weight: normal;
    border: 2px solid rgb(119, 119, 119);
    text-align: center;
}

.container_page {
    margin: auto;
    text-align: center;
}

.container_header,
.container_intro {
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 10px;
    margin-bottom: 50px;
}

.container_intro {
    margin: auto;
    width: 50vw;
    height: auto;
    padding: 10px;
}

.intro_text {
    font-size: 20px;
    padding-right: 10px;
}

.container_content {
    margin: auto;
    width: 75%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 50px;
}

.container_1 {
    height: 300px;
    width: 300px;
}

.hover_overlay {
    background-color: #000;
    color: #fff;
    display: inline-block;
    margin: 8px;
    max-width: 320px;
    min-width: 240px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.hover_overlay:before,
.hover_overlay:after {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 32px solid rgba(0, 0, 0, 0.5);
    border-bottom: 32px solid rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
    transform: scaleY(2);
}

.hover_overlay img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
}

.hover_overlay figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    transition-delay: 0.1s;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 12px;
}

.hover_overlay:hover:before,
.hover_overlay:hover:after {
    transform: scale(1);
    opacity: 1;
}

.hover_overlay:hover>img {
    opacity: 0.7;
}

.hover_overlay:hover figcaption {
    opacity: 1;
}

a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

footer {
    position: relative;
    bottom: 0;
    margin: auto;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}


/* Autosi tutvustavate lehtede css */

.container_5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
}

.container_text {
    background-color: rgba(0, 0, 0, 0.8);
    width: 35%;
    margin: auto;
    text-align: justify;
}

.container_pictures {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}